<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription - Yam Academy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'centres/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    {% comment %} <header>
        <a href="{% url 'centres:home' %}" class="navbar-brand">
            <img src="{% static 'centres/images/logo.png' %}" alt="Yam Academy" class="logo">
            <span class="brand-name">Yam Academy</span>
        </a>
    </header> {% endcomment %}
    <main class="container">
        <h1>Inscription</h1>
        <form method="post" class="registration-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nom d’utilisateur :</label>
                <div class="input-wrapper">
                    {{ form.username }}
                    <i class="fas fa-user"></i>
                </div>
                <small class="form-text">150 caractères maximum. Uniquement des lettres, nombres et les caractères « @ », « . », « + », « - » et « _ ».</small>
            </div>
            <div class="form-group">
                <label for="email">Email :</label>
                <div class="input-wrapper">
                    {{ form.email }}
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="password1">Mot de passe :</label>
                <div class="input-wrapper">
                    {{ form.password1 }}
                    <i class="fas fa-lock"></i>
                </div>
                <small class="form-text">Votre mot de passe doit contenir au minimum 8 caractères et ne pas être entièrement numérique.</small>
            </div>
            <div class="form-group">
                <label for="password2">Confirmation du mot de passe :</label>
                <div class="input-wrapper">
                    {{ form.password2 }}
                    <i class="fas fa-lock"></i>
                </div>
                <small class="form-text">Saisissez le même mot de passe que précédemment, pour vérification.</small>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-user-plus"></i> Inscrivez-vous
            </button>
        </form>
    </main>
</body>
</html>
